/*
    components: card.scss;
*/

.card {
    &--primary {
        background-color: $white;
        padding: 12px;
        border: 1px solid $grey-ed;
        border-radius: $border-rounded;
    }

    &--calendar {
        background-color: $white;
        border: 1px solid $grey-ed;
        border-radius: $border-rounded;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
