/*
    components: events.scss
*/

.event {
    position: absolute;
    width: 100%;
    height: 83%;
    top: 0;
    left: 0;
    background-color: $white;
    color: $black;
    border: 1px solid #88bfff;
    padding: 16px 8px;
    color: #88bfff;
    &--unavailable {
        position: absolute;
        background: repeating-linear-gradient(45deg, #f7f7f7, #f7f7f7 10px, #fcfcfc 10px, #fcfcfc 20px);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}
