/*
    components: icons
*/

.icon {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-color: $color-text-primary;
    mask-repeat: no-repeat;
    mask-position: 50%;
    transition: background-color 300ms ease-in-out;

    //icon sizes
    &--ty {
        width: calc(#{$unit} * 3);
        height: calc(#{$unit} * 3);
    }
    &--xs {
        width: calc(#{$unit} * 4);
        height: calc(#{$unit} * 4);
    }
    &--sm {
        width: calc(#{$unit} * 5);
        height: calc(#{$unit} * 5);
    }
    &--base {
        width: calc(#{$unit} * 6);
        height: calc(#{$unit} * 6);
    }
    &--md {
        width: calc(#{$unit} * 8);
        height: calc(#{$unit} * 8);
    }

    //icons
    &--arrow-left {
        mask-image: url('./../../assets/icons/arrow-left.svg');
    }
    &--calendar {
        mask-image: url('../../assets/icons/calendar.svg');
    }
    &--chat {
        mask-image: url('../../assets/icons/chat.svg');
    }
    &--check {
        mask-image: url('../../assets/icons/check.svg');
    }
    &--chevron {
        &-right {
            mask-image: url('./../../assets/icons/chevron-right.svg');
        }
        &-left {
            mask-image: url('./../../assets/icons/chevron-left.svg');
        }
        &-down {
            mask-image: url('../../assets/icons/chevron-down.svg');
        }
    }
    &--close {
        mask-image: url('../../assets/icons/close.svg');
    }
    &--completed-lessons {
        mask-image: url('../../assets/icons/completed-lessons.svg');
    }
    &--error {
        mask-image: url('../../assets/icons/error.svg');
    }
    &--hide {
        mask-image: url('../../assets/icons/hide.svg');
    }
    &--logout {
        mask-image: url('../../assets/icons/logout.svg');
    }
    &--menu {
        mask-image: url('../../assets/icons/menu.svg');
    }
    &--more {
        mask-image: url('../../assets/icons/more.svg');
    }
    &--notifications {
        mask-image: url('../../assets/icons/notifications.svg');
    }
    &--profile {
        mask-image: url('../../assets/icons/profile.svg');
    }
    &--reviews {
        mask-image: url('../../assets/icons/reviews.svg');
    }
    &--search-tutors {
        mask-image: url('../../assets/icons/search-tutors.svg');
    }
    &--settings {
        mask-image: url('../../assets/icons/settings.svg');
    }
    &--show {
        mask-image: url('../../assets/icons/show.svg');
    }
    &--star {
        mask-image: url('../../assets/icons/star.svg');
    }
    &--upload {
        mask-image: url('../../assets/icons/upload.svg');
    }
    &--visible {
        mask-image: url('./../../assets/icons/visible.svg');
    }
    &--plus {
        mask-image: url('./../../assets/icons/plus.svg');
    }
    &--pl {
        content: url(/assets/icons/MC.svg);
    }
    &--af {
        content: url(/assets/icons/AF.svg);
    }
    &--ca {
        content: url(/assets/icons/CA.svg);
    }
    &--br {
        content: url(/assets/icons/BR.svg);
    }
    &--au {
        content: url(/assets/icons/AU.svg);
    }
    &--ar {
        content: url(/assets/icons/AR.svg);
    }
    &--al {
        content: url(/assets/icons/AL.svg);
    }

    //color modifiers
    &--primary {
        background-color: $color-primary;
    }

    &--grey {
        background-color: $grey-bb;
    }

    &--white {
        background-color: $white;
    }

    &--black {
        background-color: $black;
    }

    &--success {
        background-color: $color-success;
    }
}
