/*
    components: icons
*/

.icon {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-color: $color-text-primary;
    mask-repeat: no-repeat;
    mask-position: 50%;
    transition: background-color 300ms ease-in-out;

    //icon sizes
    &--ty {
        width: calc(#{$unit} * 3);
        height: calc(#{$unit} * 3);
    }
    &--xs {
        width: calc(#{$unit} * 4);
        height: calc(#{$unit} * 4);
    }
    &--sm {
        width: calc(#{$unit} * 5);
        height: calc(#{$unit} * 5);
    }
    &--base {
        width: calc(#{$unit} * 6);
        height: calc(#{$unit} * 6);
    }
    &--md {
        width: calc(#{$unit} * 8);
        height: calc(#{$unit} * 8);
    }

    //icons
    &--arrow-left {
        mask-image: url('./../../assets/icons/arrow-left.svg');
    }
    &--chevron-right {
        mask-image: url('./../../assets/icons/chevron-right.svg');
    }
    &--menu {
        mask-image: url('../../assets/icons/menu.svg');
    }

    &--close {
        mask-image: url('../../assets/icons/close.svg');

        &--black {
            background-color: $black;
        }
    }
    &--visible {
        mask-image: url('./../../assets/icons/visible.svg');
    }

    &--back {
        mask-image: url('../../assets/icons/back.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--calendar {
        mask-image: url('../../assets/icons/calendar.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--chat {
        mask-image: url('../../assets/icons/chat.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--check {
        mask-image: url('../../assets/icons/check.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--close {
        mask-image: url('../../assets/icons/close.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--completed-lessons {
        mask-image: url('../../assets/icons/completed-lessons.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--down {
        mask-image: url('../../assets/icons/down.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--error {
        mask-image: url('../../assets/icons/error.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--hide {
        mask-image: url('../../assets/icons/hide.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--logout {
        mask-image: url('../../assets/icons/logout.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--menu {
        mask-image: url('../../assets/icons/menu.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--more {
        mask-image: url('../../assets/icons/more.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--notifications {
        mask-image: url('../../assets/icons/notifications.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--profile {
        mask-image: url('../../assets/icons/profile.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--reviews {
        mask-image: url('../../assets/icons/reviews.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--right {
        mask-image: url('../../assets/icons/right.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--search-tutors {
        mask-image: url('../../assets/icons/search-tutors.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--settings {
        mask-image: url('../../assets/icons/settings.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--show {
        mask-image: url('../../assets/icons/show.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &--upload {
        mask-image: url('../../assets/icons/upload.svg');

        &--grey {
            background-color: $grey-63;
        }

        &--purple {
            background-color: $purple;
        }
    }

    //color modifiers
    &--primary {
        background-color: $color-primary;
    }
    &--white {
        background-color: $white;
    }
}
