/*
    components : landing
*/

.landing {
    padding: calc($unit * 3) calc($unit * 4) 0;
    overflow-x: hidden;

    @media (min-width: $responsive-xl) {
        padding: calc($unit * 8) 165px 0;
    }

    &__img {
        width: 100%;
        display: block;
        box-shadow: 4px 3px 21px 5px rgba(0, 0, 0, 0.05);
        object-fit: cover;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1100px;
        margin: 0 auto;

        & > div {
            margin-top: 144px;
        }
    }

    &__slider {
        transform: rotate(5deg);
    }

    &__hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        margin-bottom: 60px;
        // background-color: blue;

        &__title {
            margin-bottom: calc($unit * 3);
            line-height: 50px;
            font-weight: bold;
            max-width: 730px;

            @media (min-width: $responsive-sm) {
                line-height: 75px;
                margin-bottom: calc($unit * 6);
            }
        }

        &__subtitle {
            max-width: 540px;
        }
    }

    &__avatar {
        position: absolute;

        img {
            position: relative;
            width: 90px;
            border-radius: $border-rounded;
            object-fit: cover;
            display: inline-block;
        }

        @media (max-width: $responsive-md) {
            width: 48px;
        }

        &:before {
            content: '';
            position: absolute;

            display: inline-block;
            width: 68px;
            height: 68px;

            border: 2px dashed $color-primary;
            border-radius: $border-circle;
            background: transparent;
        }

        &--first {
            left: 20%;
            top: calc(-48px - 40px);

            &::before {
                top: 33px;
                left: -18px;
            }

            @media (min-width: $responsive-xl) {
                left: -70px;
                top: calc(-48px - 20px);
            }
        }

        &--second {
            top: calc(-48px - 60px);
            right: 20%;

            &::before {
                top: 4px;
                left: -9px;
            }

            @media (min-width: $responsive-xl) {
                right: -80px;
            }
        }

        &--third {
            bottom: calc(-48px - 40px);
            right: 0;

            &::before {
                bottom: 0px;
                right: -10px;
            }

            @media (min-width: $responsive-xl) {
                right: -140px;
                bottom: calc(48px + 20px);
            }
        }

        &--fourth {
            bottom: calc(-48px - 80px);
            right: 40%;

            &::before {
                top: -12px;
                left: 0;
            }

            @media (min-width: $responsive-xl) {
                right: -60px;
            }
        }

        &--fifth {
            bottom: calc(-48px - 70px);
            left: 10%;

            &::before {
                top: 6px;
                right: -20px;
            }

            @media (min-width: $responsive-xl) {
                bottom: calc(-48px - 20px);
                left: -80px;
            }
        }
    }

    &__cards {
        overflow-x: auto;
        padding: calc($unit * 3) calc($unit * 2);
        white-space: nowrap;
        text-align: center;
        margin-left: calc(-100vw / 2 + 1100px / 2);
        margin-right: calc(-100vw / 2 + 1100px / 2);

        @media (max-width: $responsive-xl) {
            width: 100%;
        }

        &__item {
            padding: calc($unit * 2) calc($unit * 3);
            margin-right: calc($unit * 4);
            display: inline-block;

            width: 156px;

            background: $white;
            box-shadow: 8px 6px 12px rgba(0, 0, 0, 0.05);
            border-radius: 10px;

            img {
                display: inline-block;
                max-width: 100%;
            }

            &:last-child {
                margin-right: 0px;
            }

            @media (min-width: $responsive-xl) {
                width: 206px;
                padding: calc($unit * 3) 0;
            }
        }
    }

    &__text-card {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        text-align: center;

        max-width: 328px;

        @media (min-width: $responsive-xl) {
            max-width: 730px;
        }

        &__title {
            font-size: 28px;

            @media (min-width: $responsive-xl) {
                font-size: 48px;
            }
        }

        &__description {
            font-size: 14px;
            max-width: 480px;
            margin: 0 auto;

            @media (min-width: $responsive-xl) {
                font-size: 18px;
            }
        }
    }

    &__review-card {
        position: relative;
        display: flex;
        flex-direction: column;

        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        padding: 40px;

        // background-color: $color-primary;
        //change later
        align-items: center;
        text-align: left;
        // border-radius: $border-rounded;
        border-radius: 24px;

        background: linear-gradient(
            226.69deg,
            rgba(127, 95, 211, 0.9) 4.52%,
            #5c3ee8 94.64%
        );

        img {
            top: 20px;
            width: 110px;
            object-fit: cover;
            flex-shrink: 0;
            display: block;
        }

        @media (min-width: $responsive-xl) {
            max-width: 100%;
            justify-content: space-around;
            flex-direction: row-reverse;

            img {
                width: 140px;
            }
        }

        &__description {
            max-width: 280px;
            padding-top: calc($unit * 10);
            font-weight: 700;
            // font-size: 18px;
            text-align: center;
            // overflow-y: auto;
            height: 100%;
            display: flex;
            align-items: center;

            @media (min-width: $responsive-xl) {
                max-width: 635px;
                padding-right: 80px;
                padding-top: 0;
                // font-size: 24px;
            }
        }
    }

    &__navigation {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 9;
        left: -100%;
        background: $color-primary;
        transition: all 0.5s;
        overflow-y: auto;

        &.active {
            left: 0;
        }

        &__hamburger {
            z-index: 20;
            @media (min-width: $responsive-xl) {
                display: none;
            }
        }

        &__items {
            position: relative;
            justify-content: space-evenly;
            display: flex;
            align-items: center;
            flex-grow: 1;
            @media (max-width: $responsive-xl) {
                display: none;
            }
        }

        &__language {
            position: absolute;
            top: 2px;
            right: -100px;
            cursor: pointer;
            padding: 8px;
            border-radius: 8px;
            transition: 250ms ease-in-out;

            &:hover {
                background-color: $grey-f5;
            }
        }

        &__logo {
            width: 94px;

            @media (min-width: $responsive-xl) {
                width: 128px;
            }
        }
    }

    &__faq {
        width: 100%;
        max-width: 730px;
        border: 1px solid $border-color;
        border-style: dashed;
        position: relative;

        font-size: 16px;

        @media (min-width: $responsive-xl) {
            font-size: 24px;
        }

        & > div {
            border-bottom: 1px solid $border-color;
        }

        :last-child {
            border-bottom: none;
        }
    }

    &__features {
        width: 100%;
        display: none;

        &--reverse {
            flex-direction: row-reverse;
        }

        @media (min-width: $responsive-xl) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__description {
            text-align: left;
            max-width: 448px;
            margin: 0 auto;
        }

        &__img {
            flex-shrink: 0;

            img {
                width: 400px;
                display: block;
            }
        }
    }

    &__footer {
        display: flex;
        margin-top: 140px;
        //change to use variables
        background: linear-gradient(
            226.69deg,
            rgba(127, 95, 211, 0.9) 4.52%,
            #5c3ee8 94.64%
        );
        overflow-y: hidden;

        &__content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            padding-left: calc($unit * 4);

            @media (min-width: $responsive-xl) {
                padding-left: 80px;
            }
        }

        &__img {
            position: relative;
            img {
                position: absolute;
                bottom: 0;
                right: 0;
                display: none;

                @media (min-width: $responsive-md) {
                    display: block;
                    width: 250px;
                }

                @media (min-width: $responsive-xl) {
                    width: 350px;
                }
            }
        }
    }

    //Fluid typography
    &--fluid {
        &--sm {
            @include fluid-type($fluid-min-width, $fluid-max-width, 14px, 18px);
        }

        &--md {
            @include fluid-type($fluid-min-width, $fluid-max-width, 18px, 24px);
        }

        &--title {
            @include fluid-type($fluid-min-width, $fluid-max-width, 32px, 64px);
        }
    }
}
