/*
    components: navbar
*/

.navbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $white;

    &__logo {
        padding: 40px 100px 0 20px;
        margin-bottom: 40px;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: $color-text-tertiary;
        padding: 9px 22px;
        margin-bottom: calc($unit * 4);

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            opacity: 0;

            width: 4px;
            height: 40px;

            background-color: $color-primary;
            border-radius: $border-rounded;
        }

        &__icon {
            background-color: $color-text-tertiary;
        }

        &--calendar {
            mask-image: url('../../assets/icons/calendar.svg');
        }

        &--chat {
            mask-image: url('../../assets/icons/chat.svg');
        }

        &--reviews {
            mask-image: url('../../assets/icons/reviews.svg');
        }

        &--profile {
            mask-image: url('../../assets/icons/profile.svg');
        }

        &--notifications {
            mask-image: url('../../assets/icons/notifications.svg');
        }

        &--completed-lessons {
            mask-image: url('../../assets/icons/completed-lessons.svg');
        }

        &--search-tutors {
            mask-image: url('../../assets/icons/search-tutors.svg');
        }

        &__label {
            // vertical-align: middle;
            margin-left: 18px;
            font-size: 14px;
            color: $color-text-tertiary;
        }

        &.active {
            background-color: $grey-ed;

            &::before {
                opacity: 1;
            }

            .navbar__item__icon {
                background-color: $color-primary;
            }

            .navbar__item__label {
                color: $black;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-shrink: 0;
        align-items: center;

        margin-bottom: 40px;
        padding-left: calc($unit * 4);
        padding-right: calc($unit * 6);
    }
}
