/*
    components: steps.scss
*/

.steps {
    position: relative;
    z-index: 2;
    &::after {
        z-index: -1;
        content: '';
        position: absolute;
        height: 200px;
        border-left: 2px dashed $grey-ed;
        top: 10px;
        left: 18px;
    }
    &__item {
        display: flex;
        align-items: center;

        &--left {
            border-radius: 1000px;
            padding: 9px 15px;
            font-weight: 700;
            color: #202020;
            background-color: $grey-ed;

            &.active {
                font-weight: 700;
                color: $white;
                background-color: $color-primary;
            }
        }
    }

    &__title {
        font-size: 14px;
        font-weight: 400;

        &--primary {
            margin-bottom: 4px;
            color: #282828;
        }

        &--secondary {
            color: #202020;
            opacity: 0.5;
        }
    }
}
