/*
    components: tag.scss;
*/

.tag {
    &--primary {
        background-color: $color-primary-lighter;
        color: $color-primary;
        padding: calc(#{$unit} / 2) calc(#{$unit} * 2);
        border-radius: $border-rounded;
        margin-right: calc(#{$unit} * 2);

        &:last-child {
            margin-right: 0;
        }
    }


  $color-success: #2ecc71;
  $color-warning: #e67e22;


  &--success {
    background-color: #cff4df;
    color: $color-success;
    padding: calc(#{$unit} / 2) calc(#{$unit} * 2);
    border-radius: $border-rounded;
    margin-right: calc(#{$unit} * 2);

    &:last-child {
      margin-right: 0;
    }
  }

  &--warning {
    background-color: #f8dbc2;
    color: $color-warning;
    padding: calc(#{$unit} / 2) calc(#{$unit} * 2);
    border-radius: $border-rounded;
    margin-right: calc(#{$unit} * 2);

    &:last-child {
      margin-right: 0;
    }
  }

}
