/*
    components: upload.scss
*/

.upload {
    position: relative;
    flex-grow: 1;
    height: 97px;
    // height: 97px;
    border-radius: $border-rounded;
    border: 1px dashed #cecece;
    cursor: pointer;

    &__images {
        position: relative;
        overflow: hidden;
        border-radius: $border-rounded;
        width: 70px;
        height: 70px;
        border-radius: 1000px;

        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
        }
    }

    &__text {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__drag-overlay {
        z-index: 5;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 153, 0, 0.2);
    }
}
