{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "simple-import-sort",
        "import",
        "prettier"
    ],
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "rules": {
        "indent": "off",
        "no-console": ["warn"],
        "no-debugger": ["warn"],
        "no-irregular-whitespace": "off",
        "no-nested-ternary": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-extra-semi": "warn",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/semi": "error",
        "semi": "off",
        "import/first": "warn",
        "import/newline-after-import": "warn",
        "import/no-duplicates": "warn",
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "argsIgnorePattern": "^_[a-zA-Z]+"
            }
        ],
        "simple-import-sort/imports": [
            "warn",
            {
              "groups": [
                    // Side effect imports.
                    ["^\\u0000"],
                    ["^@?\\w"],
                    // Internal packages.
                    //  [^(${importPaths})(/.*|$)],
                    // Parent imports. Put .. last.
                    ["^\\.\\.(?!/?$)', '^\\.\\./?$"],
                    // Other relative imports. Put same-folder imports and . last.
                   ["^\\./(?=.*/)(?!/?$)', '^\\.(?!/?$)', '^\\./?$"]
              ]
          }
       ]
    },
    "settings": {
        "react": {
            "version": "16.6.3"
        }
    },
    "globals": {
        "before": false,
        "describe": false,
        "env": false,
        "Cypress": false,
        "cy": false
    }
}
