/*
    overrirdes: react-tel-input.scss;
*/

.react-tel-input {
    .form-control {
        width: 100%;
        padding: 6px;
        padding-left: 48px;
        font-family: 'Lato', sans-serif;
        height: auto;
        &:focus {
            border-color: $color-primary;
        }
    }
    .flag-dropdown {
        background-color: transparent;
        border-color: transparent;
        //todo: attempt to remove flag dropdown from tab order
        tab-index: "-1";

        .selected-flag {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            tab-index: -1;
        }
        .arrow {
            display: none;
        }
    }
}
