/*
    overrides: react-select.scss
*/

.react-select {
    &--availability {
        width: 500px !important;
        right: 0;
        padding: calc(#{$unit} * 6);
    }
}

.onboarding-select {
    &__indicator-separator {
        display: none;
    }

    &__control--menu-is-open {
        background-color: $color-primary;

        .onboarding-select__single-value {
            color: $white !important;
        }

        .onboarding-select__placeholder {
            color: $white;
        }

        &.onboarding-select__input-container {
            color: $white;
        }

        &.onboarding-select__control {
            background-color: $color-primary;
        }
        svg {
            fill: $white !important;
            transform: rotate(180deg);
            transition: all 250ms ease-in-out;
        }
    }

    &__dropdown-indicator {
        svg {
            fill: $black;
            transition: all 250ms ease-in-out;

            &:hover {
                // fill: $white;
                transform: rotate(180deg);
                transition: all 250ms ease-in-out;
            }
        }
    }

    &__menu-list {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
        border: 1px solid rgba(124, 106, 244, 0.5) !important;
        border-radius: 5px !important;
    }

    &__option {
        padding: 8px 24px !important;
        color: $black;
        opacity: 0.7;
        &--is-selected {
            background-color: #7c6af411 !important;
            color: $color-primary !important;
        }
        &--is-focused {
            background-color: #bdbdbd11 !important;
            color: $black !important;
            opacity: 1;
        }
    }
}

.search-tutor {
    &__control {
        border-radius: $border-rounded !important;
        width: 100px !important;

        .search-tutor__dropdown-indicator {
            transition: transform 0.5s;
            color: $black;
        }

        &--is-focused {
            background-color: $color-primary !important;
            border: none !important;

            .search-tutor__dropdown-indicator {
                transform: rotate(180deg);
                color: $white;
            }
        }
    }

    &__indicator-separator {
        display: none !important;
    }
}
