/*
    pages: my-bookings.scss
*/

.my-bookings {
    padding: calc(#{$unit} * 6);
    display: flex;

    & > div {
        &:first-child {
            flex-grow: 1;
        }
        &:last-child {
            margin-left: calc(#{$unit} * 6);
            width: 300px;
            flex-shrink: 0;
        }
    }
}
