.educationItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0px 0px 24px;
}

.bottomRow {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto;
    grid-gap: 8px;
    align-items: center;
}
