.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

@media screen and (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        gap: 120px;
    }

    .steps {
        gap: 16px;
    }
}
