.layout {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 0px 24px 16px 24px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.tutorContainer {
    position: relative;

    .previewButton {
        position: absolute;
    }
}

.iframeContainer {
    position: relative;
    display: flex;
    width: calc(100% + 48px);
    margin: -24px;

    .iframe {
        border: none;
        z-index: 2;
    }

    .loader {
        top: 20px;
        left: 5%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 90%;
        z-index: 1;
    }
}

@media screen and (min-width: 768px) {
    .layout {
        max-width: 1000px;
        margin: 0 10%;
        height: 100%;
        justify-content: center;
        margin: 0 auto;
    }

    .container {
        grid-template-columns: 1fr 1fr;
        gap: 120px;
    }

    .steps {
        gap: 16px;
    }
}
