.container--flex--space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.container{
  &__fill-red{
    background-color: red;
  }
}

.lesson-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  font-size: medium;
  width: 100%;
}

.container-dropdown{
  width: 100%;
  flex-direction:column;
}


.signup-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  font-size: xxx-large;
  //width: 100%;
}

.level-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.level-card-container > * {
  flex: 1;
}

.subject-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  //justify-content: ; /* Centers the items */
  width: 100%;
}
.subject-card-container > * {
  flex: 0 0 calc(33.333% - 10px); /* Assuming you want three cards per row */
  margin: 2.5px; /* half of the 5px gap on all sides */
}

@media (max-width: 767px) {
  .signup-subject-container{
    width: 100%;
  }
}

@media (min-width: 767px) {
  .signup-subject-container{
    width: 30%;
  }
}

@media (max-width: 767px) {
  .margin-mobile{
    margin-bottom: 40px;
  }
}
