.container--flex--space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.container{
  &__fill-red{
    background-color: red;
  }
}

.lesson-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  font-size: medium;
  width: 100%;
}

.container-dropdown{
  width: 100%;
  flex-direction:column;
}

@media (max-width: 767px) {

}

.signup-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  font-size: xxx-large;
  //width: 100%;
}
