.font{

  &__smlr{
    font-size: smaller;
  }

  &__sm{
    font-size: small;
  }

  &__md{
    font-size: medium;
  }

  &__lg{
    font-size: large;
  }

  &__lgr{
    font-size: larger;
  }

  &__xlg{
    font-size: x-large;
  }

  &__xxlg{
    font-size: xx-large;
  }

  &__xxxlg{
    font-size: xxx-large;
  }

  &__30{
    font-size: 0.5em;
  }
}


