/*
    utils: type
*/

.type {
    //sizes
    &--ty {
        //fluid
        //@include fluid-type($fluid-min-width, $fluid-max-width, $type-ty - $fluid-type-modifier, $type-ty);
        //static
        font-size: $type-ty
    }
    &--xs {
        //fluid
        //@include fluid-type($fluid-min-width, $fluid-max-width, $type-xs - $fluid-type-modifier, $type-xs);
        //static
        font-size: $type-xs
    }
    &--sm {
        //fluid
        //@include fluid-type($fluid-min-width, $fluid-max-width, $type-sm - $fluid-type-modifier, $type-sm);
        //static
        font-size: $type-sm
    }
    &--base {
        //fluid
        //@include fluid-type($fluid-min-width, $fluid-max-width, $type-base - $fluid-type-modifier, $type-base);
        //static
        font-size: $type-base
    }
    &--md {
        //fluid
        //@include fluid-type($fluid-min-width, $fluid-max-width, $type-md - $fluid-type-modifier, $type-md);
        //static
        font-size: $type-md
    }
    &--lg {
        //fluid
        //@include fluid-type($fluid-min-width, $fluid-max-width, $type-lg - $fluid-type-modifier, $type-lg);
        //static
        font-size: $type-lg
    }
    &--xl {
        //fluid
        //@include fluid-type($fluid-min-width, $fluid-max-width, $type-xl - $fluid-type-modifier, $type-xl);
        //static
        font-size: $type-xl
    }
  
    //font weight
    &--wgt {
        &--light {
            font-weight: 300;
        }
        &--regular {
            font-weight: 400;
        }
        &--bold {
            font-weight: 600;
        }
    }
    // colors
    &--color {
        &--primary {
            color: $color-text-primary;
        }
        &--secondary {
            color: $color-text-secondary;
        }
        &--white {
            color: $white;
        }
        &--brand {
            color: $color-primary;
        }
        &--error {
            color: $color-error;
        }
        &--success {
            color: $color-success;
        }
    }
    
    //style
    &--uppercase {
        text-transform: uppercase;
    }
  
    //alignment
    &--center {
        text-align: center;
    }
}