/*
    utils: width
*/

.w {
    &--50 {
        width: 50%;
        &--px {
            width: 50px;
        }
        &--max {
            max-width: 50px;
        }
    }

    &--100 {
        width: 100%;
    }

    &--120 {
        width: 120px;

        &--max {
            max-width: 120px;
        }
    }
    &--105 {
        width: 105px;
    }

    &--200 {
        &--max {
            max-width: 200px;
        }
    }

    &--128 {
        width: 128px;

        &--max {
            max-width: 128px;
        }
    }

    /* above 100 you don't need to include "px" suffix for pixels, because percentages are valid until 100 */
    &--350 {
        width: 350px;

        &--max {
            max-width: 350px;
        }
    }

    &--448 {
        width: 448px;

        &--max {
            max-width: 448px;
        }
    }
    &--632 {
        width: 632px;

        &--max {
            max-width: 632px;
        }
    }
    &--680 {
        width: 680px;

        &--max {
            max-width: 680px;
        }
    }

    &--800 {
        &--max {
            max-width: 800px;
        }
    }
    &--1200 {
        width: 1200px;
    }
}
