.container {
    padding: 0px 24px 16px 24px;
}

.form {
}

.title {
    padding-bottom: 8px;
}

.subtitle {
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0px 24px 16px 24px;
    }
    .form {
        max-width: 700px;
        margin: 0px auto;
    }
}
