.container {
    padding: 0px 24px 16px 24px;
}

.titleContainer {
}

.pointsContainer {
}

.point {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    padding: 16px 0px;
}

.pointNumber {
    font-weight: 400;
    font-size: 16px;
}

.pointBody {
}

.pointTitle {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 8px;
}

.pointDescription {
}

.pointImage {
    height: 80px;
    width: 80px;
    object-fit: contain;
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
