.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.webcamContainer {
    height: 224px;
}

.buttons {
    width: 100%;
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding-top: 16px;
}

@media screen and (min-width: 768px) {
    .container {
        height: initial;
    }

    .webcamContainer {
        height: initial;
    }
}
